.top-bar {
  background-color: $light-cyan-bg;
  padding-top: 12px;
  padding-bottom: 8px;
  color: $gray-888;
  .dropdown {
    display: inline-block;
    .dropdown-toggle {
      color: $gray-888;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
    }
    .dropdown-menu {
      border: 1px solid #c8cbcf;
      border-radius: 6px;
      padding: 0 10px;
      .dropdown-item {
        text-align: right;
        border-bottom: 1px solid #dfdfdf;
        padding: 12px 0;
        font-size: 14px;
        color: $gray-888;
        &.danger {
          color: $semon-color;
        }
      }
    }
  }
  .user-info {
    margin-left: 50px;
    float: $right;
    > img {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .today-date {
    float: $right;
    font-size: 14px;
  }
  .time-weather-list {
    float: $right;
    margin-bottom: 0;
    padding-right: 18px;
    li {
      display: inline-block;
      padding: 0 35px;
      border-right: 1px solid $gray-888;
      font-size: 14px;
      line-height: 25px;

      &:first-child {
        border-right: none;
        padding-right: 0;
      }
      i,
      img {
        margin-left: 10px;
        font-size: 18px;
      }
    }
  }
  .search-btn {
    float: $left;
    position: relative;
    #s-btn {
      color: $gray-888;
      font-size: 20px;
      line-height: 20px;
      vertical-align: middle;
      i {
        vertical-align: bottom;
      }
    }
  }
  .lang {
    float: $left;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    color: $gray-888;
    padding: 0 50px;
  }
  .notification {
    float: $left;
    margin-top: 2px;
    #notification-btn {
      font-size: 20px;
      position: relative;
      color: $gray-888;
      .count {
        font-size: 12px;
        color: #fff;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $primary-color;
        display: inline-block;
        text-align: center;
        line-height: 18px;
        position: absolute;
        top: -3px;
        right: -8px;
      }
    }
  }
  .link {
    color: $gray-888;
    margin-left: 35px;
    font-size: 14px;
    text-decoration: none;
    img {
      margin-left: 10px;
    }
  }
}
.main-nav {
  background-color: $primary-color;
  background-image: url($img-path + "art-work.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 17px 1rem;
  .navbar-collapse {
    flex-direction: row-reverse;
  }
  .dropdown-toggle::after {
    margin-right: 0.255em;
    vertical-align: 0.15em;
  }
  .nav-item {
    margin-right: 85px;
  }
  .nav-link {
    color: #fff;
    > img {
      margin-left: 9px;
    }
  }
}
.content {
  padding-top: 26px;
}

.user-info-wrapper {
  max-width: max-content;
}
.user-info-card {
  width: 375px;
  background-color: #02b1d6;
  color: #fff;
  padding: 12px;
  position: relative;
  border-radius: 39px;
  overflow: hidden;
  transition: 0.3s;
  padding-bottom: 65px;
  margin-bottom: 50px;
  * {
    transition: inherit;
  }
  button#info-card-toggle {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .img-box {
    width: 112px;
    height: 112px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 25px auto 17px;
    img {
      width: 100%;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 31px;
    text-align: center;
    transition: opacity 0.5s linear;
    transform: translate(0);
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 14px 7px;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
      &:last-child {
        border: none;
      }
      img {
        margin-left: 22px;
      }
      span {
        font-size: 15px;
        display: inline-block;
        vertical-align: top;
        transition: opacity 0.5s linear;
        transform: translate(0);
        a {
          color: #fff;
          transition: 0;
          white-space: nowrap;
          &:hover {
            color: #64e4ff;
            text-decoration: none;
          }
        }
        h4 {
          color: rgba($color: #fff, $alpha: 0.75);
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
  &.collapsed {
    width: 105px;
    button#info-card-toggle {
      top: 16px;
      left: 37px;
    }
    .img-box {
      margin-top: 49px;
      width: 70px;
      height: 70px;
      margin-bottom: 87px;
    }
    h2 {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
      opacity: 0;
    }
    ul {
      padding: 0 12px;
      li {
        img {
          display: block;
          margin: auto;
        }
        span {
          position: absolute !important;
          top: -9999px !important;
          left: -9999px !important;
          opacity: 0;
        }
      }
    }
  }
}
#user-info-other-side {
  max-width: calc(100% - 405px);
  transition: 0.3s;
  &.collapsed {
    max-width: calc(100% - 135px);
    .img-box {
      transform: scale(1.1);
    }
  }
}
#fav-other-side {
  max-width: calc(100% - 405px);
  transition: 0.3s;
}
.dash-cards {
  position: relative;
  padding-top: 24px;
  padding-bottom: 20px;
  border: 1px solid #dbe4e6;
  box-shadow: 0 6px 12px #e4e6f1;
  background-color: #fcfcfc;
  text-align: center;
  border-radius: 30px;
  transition: 0.3s;
  overflow: hidden;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 340px;
    background-image: url($img-path + "logo-shape.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.08;
    z-index: 1;
    transition: 0.3s;
    transform: translate(-170px, -105px);
  }
  &:hover {
    &::after {
      transform: translate(-15px, 0);
      width: 173px;
      height: 166px;
    }
  }
  * {
    z-index: 2;
    position: relative;
  }
  .count {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 5px;
    &.blue {
      color: $primary-color;
    }
    &.gray {
      color: $gray-color;
    }
    &.green {
      color: $green-color;
    }
    &.orange {
      color: $orange-color;
    }
  }
  .type {
    font-size: 18px;
    font-weight: 700;
    color: $color-default;
    margin-bottom: 19px;
    img {
      margin-left: 20px;
    }
  }
  .status {
    font-size: 14px;
    color: #999999;
  }
  a.stretched-link {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
.mb-30 {
  margin-bottom: 30px;
}
.main-slider {
  .title {
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding-top: 6px;
    img {
      position: absolute;
      top: 0;
      left: calc(50% - 140px);
      z-index: -1;
    }
  }
  .swiper-slide {
    padding-top: 48px;
    padding-bottom: 43px;
    background-color: #ffffff;
    box-shadow: 0 15px 50px rgba($color: #313234, $alpha: 0.08);
    border-radius: 16px;
    background-image: url($img-path + "Mask Group 8.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    .img-box {
      transition: 0.3s;
      text-align: center;
    }

  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: #999999;
    opacity: 1;
    margin: 0 11px !important;
    &.swiper-pagination-bullet-active {
      background-color: $green;
      transform: scale(2);
    }
  }
  .all-btn {
    margin-top: 25px;
    margin-left: 6px;
  }
}
.noti-item {
  margin-bottom: 40px;
  position: relative;

  .icon {
    border: 2px solid #999999;
    border-radius: 16px;
    float: $right;
    width: 80px;
    height: 120px;
    margin-right: 46px;
    margin-left: 30px;
    transition: 0.3s;
    &.bell {
      background-image: url($img-path + "ic_notifications_active_48px.svg");
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.3s;
    }
  }
  .data {
    float: right;
    width: calc(100% - (80px + 30px + 46px));

    h3 {
      color: $color-default;
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
      height: calc(26px * 2);
      overflow: hidden;
      transition: 0.3s;
    }
    p {
      color: #999999;
      font-size: 14px;
      margin-bottom: 10px;
    }
    span {
      display: inline-block;
      background-color: #25b0ce;
      padding: 2px 10px;
      border-radius: 12px;
      font-size: 14px;
      color: #fff;
    }
  }
  &.full-item{
    background-color: #fff;
    .icon{
      width: 80px;
      height: 90px;
    }
  }
  &:hover {
    .icon {
      border-color: $primary-color;
      &.bell {
        background-image: url($img-path + "ic_notifications_active_48px-hovered.svg");
      }
    }
    .data {
      h3 {
        color: $primary-color;
      }
    }
  }
}
.all-btn {
  font-size: 16px;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  z-index: 99;
  .icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18.004' viewBox='0 0 18 18.004'%3E%3Cpath id='arrow' d='M0,9a9,9,0,1,1,9,9A9.011,9.011,0,0,1,0,9ZM1.042,9A7.957,7.957,0,1,0,9,1.043,7.968,7.968,0,0,0,1.042,9Zm2.4.346,4.418-4.5.768.783L5.525,8.795H13.84V9.9H5.525l3.107,3.165-.768.783Z' fill='%23b1b1b1'/%3E%3C/svg%3E%0A");
    display: inline-block;
    width: 18px;
    height: 18px;
    transition: 0.3s;
    vertical-align: middle;
    margin-right: 6px;
  }
  &.gray {
    color: #b1b1b1;
    &:hover {
      color: #18754d;
      .icon {
        transform: translateX(-6px);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18.004' viewBox='0 0 18 18.004'%3E%3Cpath id='arrow' d='M0,9a9,9,0,1,1,9,9A9.011,9.011,0,0,1,0,9ZM1.042,9A7.957,7.957,0,1,0,9,1.043,7.968,7.968,0,0,0,1.042,9Zm2.4.346,4.418-4.5.768.783L5.525,8.795H13.84V9.9H5.525l3.107,3.165-.768.783Z' fill='%2318754D'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
.fav-wrapper {
  max-width: max-content;
  .fav-card {
    width: 375px;
    padding: 12px 0;
    position: relative;
    border-radius: 39px;
    overflow: hidden;
    transition: 0.3s;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 15px 20px rgba($color: #000000, $alpha: 0.08);
    h4.title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #646870;
      padding-top: 15px;
      padding-bottom: 23px;
      border-bottom: 1px dashed rgba($color: #464749, $alpha: 0.3);
      margin: 0 12px;
      i {
        margin-left: 20px;
      }
    }
    ul {
      list-style: none;
      padding: 0 12px;
      li {
        border-bottom: 1px solid #dbdbdb;
        &:last-child {
          border: none;
        }
        a {
          color: #464749;
          font-size: 16px;
          line-height: 20px;
          transition: 0.3s;
          padding: 10px;
          display: block;
          &:hover {
            background-color: #f6f6f6;
            color: #0096b6;
          }
        }
        img {
          margin-left: 25px;
        }
      }
    }
    button#fav-toggle {
      background: none;
      border: none;
      display: block;
      text-align: center;
      width: calc(100% - 50px);
      margin: auto;
      border-radius: 18px;
      padding: 6px;
      color: #646870;
      transition: 0.3s;
      &:hover {
        background-color: rgba($color: #0096b6, $alpha: 0.2);
      }
    }
  }
}
.inner-title {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 18px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 35px;
    background-color: #18754d;
  }
  &.lg-line {
    &::after {
      width: 125px;
    }
  }
}
.news-slider {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 15px 50px rgba($color: #313234, $alpha: 0.08);
  border-radius: 8px;

  height: calc(100% - 68px);
  // 68px is the title height + margin
  .swiper-slide {
    height: 334px;
    overflow: hidden;
    .img-box {
      overflow: hidden;
      height: 220px;
      img {
        min-width: 100%;
        min-height: 100%;
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
    .content-box {
      padding: 12px 18px;
      background-color: #fff;
      border-radius: 8px 8px 0 0;
      position: absolute;
      transition: 0.3s;
      h3 {
        font-size: 18px;
        color: #464749;
        font-weight: bold;
        line-height: 30px;
        transition: 0.3s;
        margin-bottom: 20px;
      }
      cite {
        font-size: 15px;
        color: #999999;
        font-style: normal;
        margin-bottom: 14px;
        display: block;
        img {
          margin-left: 8px;
        }
      }
      p {
        opacity: 0;
        transition: 0.3s;
        margin-bottom: 0;
        font-size: 17px;
        line-height: 32px;
        height: calc(32px * 2);
        color: #464749;
        overflow: hidden;
      }
    }
  }
  &:hover {
    .img-box {
      img {
        transform: scale(1);
      }
    }
    .content-box {
      transform: translateY(-(32px * 2));
      h3 {
        color: #0096b6;
      }
      p {
        opacity: 1;
      }
    }
  }
  .all-btn {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: #999999;
    opacity: 1;
    margin: 0 11px !important;
    &.swiper-pagination-bullet-active {
      background-color: $green;
      transform: scale(2);
    }
  }
}
.default-card {
  box-shadow: 0 15px 50px rgba($color: #313234, $alpha: 0.08);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  height: calc(100% - 68px);
  // 68px is the title height + margin
  .all-btn {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
.proof-list {
  padding-left: 15px;
  padding-top: 23px;
  ul {
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      .img-box {
        float: $right;
        margin-left: 35px;
        margin-right: 30px;
        width: 60px;
        height: 60px;
        margin-top: 15px;
        transition: 0.3s;
        img {
          width: 100%;
        }
      }
      .data {
        float: $right;
        width: calc(100% - (60px + 35px + 30px));
        border-bottom: 1px solid #cecece;
        margin-bottom: 12px;
        h3 {
          font-size: 16px;
          color: #464749;
          font-weight: bold;
          line-height: 28px;
          height: calc(28px * 2);
          overflow: hidden;
          margin-bottom: 7px;
        }
        p {
          font-size: 14px;
          color: #999999;
        }
      }
      &:hover {
        .img-box {
          transform: scale(1.1);
        }
        h3 {
          color: #0096b6;
        }
      }
      &:last-child {
        .data {
          border: none;
        }
      }
    }
  }
}
.mt-40 {
  margin-top: 40px;
}
.form-control {
  border-radius: 0;
  border: 1px solid #d6d6d6;
  font-size: 14px;
  padding: 18px 11px 9px;
  height: auto;
  &::-webkit-input-placeholder {
    /* Edge */
    color: #b8b8b8;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b8b8b8;
  }

  &::placeholder {
    color: #b8b8b8;
  }

}
.custom-select {
  & + .select2-container {
    .select2-selection--single {
      border: 1px solid #d6d6d6;
      height: auto;
      border-radius: 0;
      .select2-selection__rendered {
        padding: 14px 12px;
        color: #b8b8b8;
        font-size: 14px;
        line-height: 22px;
      }
      .select2-selection__arrow b {
        border: none;
        background-image: url($img_path + "/ddl-arrow.svg");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 4px;
      }
    }
  }
}
.guide {
  padding: 75px 40px 36px;
  .select2 {
    margin-bottom: 32px;
  }
  .form-group {
    margin-bottom: 110px;
  }
  .em-label {
    float: $right;
    font-size: 15px;
    color: #6d6d6d;
    line-height: 45px;
    i {
      color: $green-color;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}
.submit-btn {
  position: relative;
  border-radius: 26px;
  padding: 8px 12px;
  padding-left: 50px;
  text-align: center;
  min-width: 150px;
  font-size: 18px;
  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.5' height='20.5' viewBox='0 0 20.5 20.5'%3E%3Cpath id='arrow-white' d='M0,10A10,10,0,1,1,10,20,10.011,10.011,0,0,1,0,10Zm1.158,0A8.842,8.842,0,1,0,10,1.158,8.852,8.852,0,0,0,1.158,10Zm2.671.385,4.909-5,.853.869L6.139,9.77h9.239V11H6.139l3.453,3.516-.853.869Z' transform='translate(0.25 0.25)' fill='%23fff' stroke='%23fff' stroke-width='0.5'/%3E%3C/svg%3E%0A");
    background-size: cover;
    position: absolute;
    top: 14px;
    left: 24px;
  }
  &.btn-success {
    background-color: #18754d;
    &:hover {
      background-color: #239866;
      &::after {
        left: 20px;
      }
    }
  }
}

.poll {
  background: rgb(54, 175, 91);
  background: linear-gradient(
    90deg,
    rgba(54, 175, 91, 1) 0%,
    rgba(11, 120, 123, 1) 80%,
    rgba(12, 108, 129, 1) 100%
  );

  color: #fff;
  padding: 30px 20px 45px;

  position: relative;
  > * {
    z-index: 2;
    position: relative;
  }
  &::after {
    content: "";
    background-image: url($img_path + "/poll-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 27px;
  }
  .custom-control-input {
    left: auto;
    right: 0;
  }
  .custom-control {
    padding-right: 35px;
    padding-left: 0;
    margin-right: 15px;
  }
  .custom-control-label {
    cursor: pointer;
    font-size: 16px;
    line-height: 36px;
    &::before {
      right: -35px;
      left: auto;
      background: none;
      border-color: #ffffff;
      top: 10px;
    }
    &::after {
      right: -35px;
      left: auto;
      top: 10px;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    color: #69f3b8;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #69f3b8;
    background: none !important;
  }
  .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url($img_path + "/dot.svg");
  }
  .poll-btns {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    button {
      flex: auto;
      border-radius: 23px;
      font-size: 16px;
      line-height: 21px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0 15px;
    }
    .vote {
      background: none;
      border: 2px solid #fff;
      color: #fff;
    }
    .show-results {
      background-color: #ffffff;
      color: #666666;
      i {
        float: left;
        margin-left: 12px;
        line-height: inherit;
      }
    }
  }
}
.relative-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 33px 0;
  background-color: #fff;
  border-radius: 16px;
  border: 2px solid #d9d9d9;
  transition: 0.3s;
  margin-bottom: 30px;
  img {
    margin-bottom: 35px;
  }
  h4 {
    font-size: 15px;
    transition: 0.3s;
    color: #464749;
  }
  &:hover {
    transform: scale(1.1);
    h4 {
      color: #0096b6;
    }
  }
}
footer {
  background-color: #0096b6;
  position: relative;
  min-height: 125px;
  overflow: hidden;
  > * {
    z-index: 2;
    position: relative;
  }
  &::after {
    content: "";
    background-image: url($img-path + "footer-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .copy {
    margin-top: 55px;
    font-size: 13px;
    color: #fff;
  }
  .logos {
    margin-top: 35px;
    img:first-child {
      margin-left: 30px;
    }
  }
}
.mb-70 {
  margin-bottom: 70px;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.search-box {
  position: absolute;
  left: 0;
  top: 30px;
  width: 400px;
  padding-left: 50px;
  background-color: #fff;
  display: none;
  z-index: 10;
  border-radius: 7px;
}
.search-box .form-control {
  border: none;
  font-size: 16px;
  height: 45px;
  padding: 11px 11px 9px;
}
a.search-submit-btn {
  position: absolute;
  left: 27px;
  color: #1d4d8b;
  padding: 5px !important;
  top: 5px;
}
a.close-search-btn {
  position: absolute;
  left: 3px;
  color: #777 !important;
  font-size: 20px;
  padding: 5px !important;
  top: 3px;
}
.inner-page-header {
  .breadcrumb {
    background: none;
    margin-bottom: 8px;
    padding-top: 0;
  }
  .breadcrumb-item {
    color: #0984b3;
    font-size: 15px;
    line-height: 17px;
    a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: "";
    width: 9px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.969' height='11.858' viewBox='0 0 6.969 11.858'%3E%3Cpath id='Path_528' data-name='Path 528' d='M1009.668,132.76l-5.421,5.378-5.378-5.378' transform='translate(139.197 -998.339) rotate(90)' fill='none' stroke='%238d8d8d' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0 10px;
  }
  h1 {
    position: relative;
    font-size: 35px;
    color: #464749;
    line-height: 55px;
    font-weight: bold;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: 0;
      height: 3px;
      width: 105px;
      background-color: #0096b6;
    }
  }
}
.inner-search-box {
  position: relative;
  .form-control {
    border-radius: 21px;
    padding: 10px 11px 9px 45px;
  }
  button {
    background: none;
    border: none;
    position: absolute;
    top: 8px;
    left: 8px;
  }
}
.tabs {
  margin-top: 50px;
  .nav-pills {
    .nav-item {
      background-color: #fff;
      color: $color-default;
      font-size: 16px;
      margin-left: 10px;
      border-radius: 18px;
      padding: 6px 12px 5px;
      box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.08);
      &.active {
        background-color: $primary-color;
        color: #fff;
        box-shadow: 0 1px 3px rgba($color: $primary-color, $alpha: 0.08);
      }
    }
  }
  .tab-content{
    margin-top: 10px;
  }
}
.inner-pagination {
  margin-top: 120px;
  .pagination {
    .page-item {
      .page-link {
        color: #646870;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #646870;
        margin-left: 11px;
        border-radius: 8px;
        padding: 0;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
      }
      &.active {
        .page-link {
          color: #fff;
          background-color: #228b5e;
        }
      }
      &.dots {
        .page-link {
          background: none;
          color: #646870;
          border: none;
        }
      }
      &.arrow {
        .page-link {
          background: none;
          color: #646870;
          border: none;
          &.disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }
    }
  }
}
.service-box {
  background-color: #fff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 210px;
  overflow: hidden;

  *{
    transition: 0.3s;
  }
  img {
    margin-bottom: 13px;
  }
  h4 {
    font-size: 16px;
    color: #464749;
    font-weight: bold;
  }
  button {
    opacity: 0;
    background-color: $primary-color;
    color: #fff;
    border-radius: 26px;
    border: none;
    font-size: 15px;
    padding: 10px 0;
    width: 220px;
  }
  &:hover{
    border: 2px solid $primary-color;
    h4{
      margin-bottom: 20px;
    }
    button{
      opacity: 1;
      margin-bottom: 20px;
    }
  }
}
.inner-card{
  background-color: #fff;
  border-radius: 8px;
  padding: 22px;
  min-height: 500px;
  .nav-pills{
    margin-bottom: 30px;
    .nav-item{
      background: none;
      color: $color-default;
      font-size: 16px;
      margin-left: 10px;
      border-radius: 18px;
      padding: 6px 12px 5px;
      &.active{
        background-color: $primary-color;
        color: #fff;
        box-shadow: 0 1px 3px rgba($color: $primary-color, $alpha: 0.08);
      }
    }
  }

}
.dotted-title{
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px dotted rgba($color: #464749, $alpha: 0.30);
  padding-bottom: 15px;
  &.green{
    color: #228B5E;
  }
  &.gray{
    color: $gray-color;
  }
}
.date-wrapper{
  position: relative;
  .date-toggle{
    position: absolute;
    left: 15px;
    top: 12px;
    cursor: pointer;
  }
}
.form-group{
  label{
    font-size: 16px;
    font-weight: bold;
    color: #464749;
    &.required{
     &::after{
      content: "*";
      color: #DC2727;
     }
    }
  }
}
.mt-30{
  margin-top: 30px;
}
.back-btn{
  position: relative;
    border-radius: 26px;
    padding: 8px 12px;
    text-align: center;
    min-width: 150px;
    font-size: 18px;
    text-align: center;
    background-color: #464749;
    color: #fff;
    font-weight: bold;
    &:hover{
      color: #fff;
      background-color: #57585b;
    }
}
.ml-30{
  margin-left: 30px;
}
.mt-70{
  margin-top: 70px;
}
.inner-table{
  th{
    background-color: $primary-color;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    border-left: 1px solid #fff;
  }
  td{
    color: #464749;
    font-size: 15px;
  }
}
.view-offer{
  color: $primary-color;
  font-size: 15px;
  border: 1px solid #D5D7DC;
  border-radius: 26px;
  background-color: #fff;
  padding: 7px 10px 8px;
  transition: 0.3s;
  img{
    margin-right: 6px;
  }
  &:hover{
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
  }
}