@font-face {
  font-family: $font-ar;
  src: url($font-path+"Almarai-Regular.ttf");
}
@font-face {
  font-family: $font-ar;
  src: url($font-path+"Almarai-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: $font-ar;
  src: url($font-path+"Almarai-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: $font-ar;
  src: url($font-path+"Almarai-ExtraBold.ttf");
  font-weight: 900;
}