$font-ar:'almarai -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";';
$font-path:'../fonts/';

$img-path:'../images/';

// colors
$light-cyan-bg:#E7F1F3;
$semon-color:#FF2C00;
$gray-888:#888888;
$color-default:#464749;
$body-bg:#F9F9F9;
$primary-color:#0096B6;
$gray-color:#9297A1;
$green-color:#23A56D;
$orange-color:#FA8C32;

$theme-colors: (
  "primary": $primary-color,
  "warning": $orange-color,
  "success": $green-color,
  "gray": $gray-color,
);
//rtl support
$right:right;
$left:left;